body
{
	margin:0px;
	background-color: #e7e7e7;
}

#wrapper
{
	
	width: 780px;
	height: 600px;
	background-image: url(../img/Body.jpg);
}

header
{
	/*background-image: url(img/New_head.jpg);*/
	height: 155px;
}

#logo_image
{
	padding-left: 16px;
	padding-top: 5px;
	width:100px;
	height:52px;
	cursor: pointer;
}


#Podpiska_logo
{
	text-align: center;
	float: left;
	clear: left;
	width:45px;
	height:40px;
	padding-left: 34px;
	padding-top: 11px;
}

#Podpiska
{
	margin: 0px;
	font-size: 11px;
}

#Price_logo
{
	text-align: center;
	float:left;
	width:29px;
	height:40px;
	padding-left: 32px;
	padding-top: 11px;
}

#Price
{
	margin: 0px;
	font-size: 11px;
}

#Zakaz_logo
{
	text-align: center;
	float:left;
	width:29px;
	height:40px;
	padding-left: 32px;
	padding-top: 11px;
}

#Zakaz
{
	margin: 0px;
	font-size: 11px;
}

#Magazin_logo
{
	text-align: center;
	clear: left;
	float:left;
	width:100px;
	height:37px;
	padding-left: 7px;
	padding-top: 4px;
}

#Magazin
{
	margin: 0px;
	font-size: 11px;
}

#Otchet_logo
{
	text-align: center;
	float:left;
	width:32px;
	height:33px;
	padding-left: 3px;
	padding-top: 5px;
}

#Otchet
{
	margin: 0px;
	font-size: 11px;
}

a img:hover
{
	border: 1px solid red;
}

#Login
{
	width: 167px;
	height: 16px;
	margin: 0px;
	padding-left: 338px;
	font-size: 8px;
	font-family: Verdana;
}

#Login_field
{
	margin-left: 11px;
	width: 100px;
	height: 12px;
}

#PSWD
{
	width: 172px;
	height: 16px;
	padding-top: 3px;
	margin: 0px;
	padding-left: 333px;
	font-size: 8px;
	font-family: Verdana;
}

#Pswd_field
{
	margin-left: 11px;
	margin-top: 1px;
	width: 100px;
	height: 12px;
}

#btn
{
	position: absolute;
	margin-left: 305px;
	top: 7.5%;
	width:73px;
	height:22px;
	font-size: 8px;
	font-family: Verdana;		
	border-radius: 5px;
}

#btn:hover
{
	border: 1px solid red;
}

#right_block
{
	margin-top: -50px;
	width:155px;
	height:50px;
	float: right;
	font-family: Verdana;
	font-size: 8px;
}

#Gazeta
{
	color: black;
	margin: 0px;
	clear: left;
	padding-left: 93px;
}

#Tovar
{
	color: black;
	margin: 0px;
	clear: left;
	padding-left: 73px;
}

#Partner
{
	color: black;
	margin: 0px;
	clear: left;
	padding-left: 46px;
}

#Podpis
{
	color: black;
	margin: 0px;
	clear: left;
	padding-left: 27px;
}

#Registration
{
	color: black;
	margin: 0px;
}

#right_block a
{
	color: black;
	text-decoration: none;
}

#right_block a:hover
{
	color: yellow;
	text-decoration: none;
}


main
{
	clear: right;
	float: right;
	width: 622px;
	height: 450px;
	margin-top: -11px;
}

main a
{
	font-size: 9px;
}

#main_news
{
	font-size: 24px;
	font-family: Arial;
	padding-left: 27px;	
}


.date
{
	color: red;
}


#first_arrow
{
	clear: left;
	float: left;
	padding-left: 10px;
	padding-top: 37px;
}

#second_arrow
{
	clear: left;
	float: left;
	padding-left: 10px;
	padding-top: 10px;
}

#third_arrow
{
	clear: left;
	float: left;
	padding-left: 10px;
	padding-top: 12px;
}

#fourth_arrow
{
	clear: left;
	float: left;
	padding-left: 10px;
	padding-top: 12px;
}

.strelki img:nth-of-type(2)
{
	padding-top: 40px;
}

#first_textblock
{
	padding-left: 30px;
	padding-top: 5px;
}

#second_textblock
{
	padding-left: 30px;
	padding-top: 7px;
}

#third_textblock
{
	padding-left: 30px;
	padding-top: 7px;
}

#fourth_textblock
{
	padding-left: 30px;
	padding-top: 7px;
}

main div span:nth-of-type(1)
{
	font-size: 14px;
	font-family: Arial;
}

main div span:nth-of-type(2)
{
	color: #4c6bb1;
	font-size: 12px;
	font-family: Arial;
}


main textarea
{
	width: 350px;
	height: 70px;
}

#button_submit
{
	margin: 15px 134px 0px 134px;
	font-family: Verdana;		
	border-radius: 5px;
	
}

#button_submit:hover
{
	border: 1px solid blue;	
}

form
{
	padding: 20px;
	width:350px;
	margin: 0px auto;
	
}

input[type=text]
{
	margin-bottom: 5px;
}

#spisok
{
	margin-top: 10px;
}

form span
{
	margin-bottom: 20px;
	text-align: center;
}

form span h1
{
	margin: 0px;
}

form span span {
	display: block;
	font-style: italic;
}



footer
{
	float: left;
	background-image: url(../img/Footer.jpg);
	width:150px;
	height:319px;
	padding-left: 0px;
	margin-bottom: 130px; 
}
#menu
{
	margin: 0px;
	float: left;
	list-style: none;
	padding-left: 0px;
	padding-top: 71px;
	font-size: 10px;
	font-family: Verdana;
	line-height: 22px;
}
footer a
{
	color: white;
	text-decoration: none;
}
li a:hover
{
	color: red;
	text-decoration: none;
}

#content 
{
    width: 533px;
    height: 260px;
    padding: 5px;
    margin: 10px;
    padding-right: 30px;
    float: right;
}

#content p 
{
	font-family: Verdana;
	font-size: 9px;
	color: #2b6caf;
	letter-spacing: 1px;
	margin: 12px 0px;
	line-height: 1.42;
}

#content table
{
	border: 1px solid black;
}

#content td
{
	border: 1px solid black;
}

#server_vars 
{
    overflow: scroll;
    height: 430px;
	width:570px;
}

.xml_output 
{
	width: 100%;
	border-spacing: 0px 10px;
}

.xml_output th 
{
	border: 2px solid #b4e6e7;
}

.xml_output hr
{
	border: 1px solid #b4e6e7;
}

.farm
{
	margin: 7px auto;
	overflow: auto;
	height: auto;
	background-color: white;
	font-family: Arial;
}


.popup 
{
	position: relative;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	border: 2px solid #7C95CE;
	font-size: 14pt;
	transition: 0.5s;
	font-family: Arial;
	background-color:white;
}

.popup .popuptext 
{
	visibility: hidden;
	width: 300px;
	background: #7C95CE;
	color: lightgoldenrodyellow;
	text-align: center;
	border-radius: 6px;
	position: absolute;
	bottom: 150%;
	right: 70%;
	font-family: Arial;
}

.popup .show 
{
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn 
{
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn 
{
  from {opacity: 0;}
  to {opacity:1 ;}
}



/*форма с галочками*/
#ticks
{
    margin-top: 50px;
    border: 3px solid lightcoral;
    border-radius: 15px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#ticks div:nth-of-type(1)
{
    width: 150px;
    background-color: #b4e6e7;
}

#ticks div:nth-of-type(2) 
{
    width: 150px;
    background-color: #7c95ce;
}

#ticks div:last-of-type
{
    margin-top: 20px;
    width: 400px;
    display: flex;
    justify-content: space-between;
}

#ticks input[type = button]
{
    width: 120px;
    height: 25px;
}
